@charset "UTF-8";
@font-face {
   font-family: "Appetite_New";
   src: url("../fonts/Appetite_New.otf");
   src: local("☺"), url("../fonts/Appetite_New.woff") format("woff"),
      url("../fonts/Appetite_New.ttf") format("truetype"), url("../fonts/Appetite_New.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "MUSEOSANSCYRL";
   src: url("../fonts/MUSEOSANSCYRL.OTF");
   src: local("☺"), url("../fonts/MUSEOSANSCYRL.woff") format("woff"),
      url("../fonts/MUSEOSANSCYRL.ttf") format("truetype"), url("../fonts/MUSEOSANSCYRL.svg") format("svg");
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: "MUSEOSANSCYRL_0";
   src: url("../fonts/MUSEOSANSCYRL_0.OTF");
   src: local("☺"), url("../fonts/MUSEOSANSCYRL_0.woff") format("woff"),
      url("../fonts/MUSEOSANSCYRL_0.ttf") format("truetype"), url("../fonts/MUSEOSANSCYRL_0.svg") format("svg");
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: "MUSEOSANSCYRL_1";
   src: url("../fonts/MUSEOSANSCYRL_1.OTF");
   src: local("☺"), url("../fonts/MUSEOSANSCYRL_1.woff") format("woff"),
      url("../fonts/MUSEOSANSCYRL_1.ttf") format("truetype"), url("../fonts/MUSEOSANSCYRL_1.svg") format("svg");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "MUSEOSANSCYRL_2";
   src: url("../fonts/MUSEOSANSCYRL_2.OTF");
   src: local("☺"), url("../fonts/MUSEOSANSCYRL_2.woff") format("woff"),
      url("../fonts/MUSEOSANSCYRL_2.ttf") format("truetype"), url("../fonts/MUSEOSANSCYRL_2.svg") format("svg");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "MUSEOSANSCYRL_3";
   src: url("../fonts/MUSEOSANSCYRL_3.OTF");
   src: local("☺"), url("../fonts/MUSEOSANSCYRL_3.woff") format("woff"),
      url("../fonts/MUSEOSANSCYRL_3.ttf") format("truetype"), url("../fonts/MUSEOSANSCYRL_3.svg") format("svg");
   font-weight: 700;
   font-style: normal;
}

/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-family: inherit;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

body {
   height: 400vh;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

.container {
   max-width: 1560px;
   padding: 0px 15px;
   margin: 0 auto;
}

.header {
   position: relative;
   width: 100%;
   z-index: 2;
   top: 60px;
}

.header__body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.header__logo {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.header__location {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   position: relative;
}

.header__contacts {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.header__toggle {
   display: none;
}

.header__menu {
   padding: 45px 0px 0px 0px;
}

.header__list {
   padding: 0px 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   height: 60px;
   border-radius: 20px;
   background: #fff;
   -webkit-box-shadow: 0px 5px 5px #fbf7f3;
   box-shadow: 0px 5px 5px #fbf7f3;
}

.header__list a {
   color: #282828;
   font-family: "MUSEOSANSCYRL_1";
   font-weight: 300;
   letter-spacing: 0.6px;
   -webkit-transition: all 0.3s linear 0.1s;
   transition: all 0.3s linear 0.1s;
   display: block;
}

@media (max-width: 780px) {
   .header__list a {
      font-size: calc(18px + -5.1 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .header__list a {
      font-size: calc(18px + -3 * (100vw / 1560));
   }
}

.header__list a:hover {
   font-family: "MUSEOSANSCYRL_3";
   font-weight: 700;
}

.logo__image img {
   max-width: 100%;
   -o-object-fit: cover;
   object-fit: cover;
}

.logo__text {
   font-family: "MUSEOSANSCYRL_1";
   font-weight: 300;
   max-width: 145px;
   margin: 35px 0px 0px 40px;
   letter-spacing: 0.8px;
   line-height: 19px;
}

@media (max-width: 780px) {
   .logo__text {
      font-size: calc(14px + 0 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .logo__text {
      font-size: calc(14px + 0 * (100vw / 1560));
   }
}

.location__image {
   margin: 30px 0px 0px 0px;
}

.location__text {
   margin: 35px 0px 0px 25px;
   position: relative;
}

.image {
   position: relative;
}

.image__Map {
   width: 100px;
   height: 100px;
}

.image__Map img {
   max-width: 100%;
   -o-object-fit: cover;
   object-fit: cover;
   border-radius: 50%;
}

.image__Location {
   position: absolute;
   top: 35px;
   margin: 0px 0px 0px 25px;
}

.text__title {
   font-family: "MUSEOSANSCYRL_3";
   font-weight: 700;
   letter-spacing: 0.8px;
   padding: 0px 0px 10px 0px;
}

@media (max-width: 780px) {
   .text__title {
      font-size: calc(16px + 0 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .text__title {
      font-size: calc(16px + 0 * (100vw / 1560));
   }
}

.text__adress {
   font-family: "MUSEOSANSCYRL_1";
   font-weight: 300;
   padding: 0px 0px 20px 0px;
   display: block;
   letter-spacing: 0.8px;
}

@media (max-width: 780px) {
   .text__adress {
      font-size: calc(16px + 0 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .text__adress {
      font-size: calc(16px + 0 * (100vw / 1560));
   }
}

.text__map {
   font-family: "MUSEOSANSCYRL_1";
   font-weight: 300;
   color: #ff6078;
   border-bottom: 1px dashed #ff6078;
   letter-spacing: 0.8px;
   text-transform: uppercase;
}

@media (max-width: 780px) {
   .text__map {
      font-size: calc(12px + 0 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .text__map {
      font-size: calc(12px + 0 * (100vw / 1560));
   }
}

.contacts__text {
   margin: 35px 0px 5px 30px;
}

.text__contact {
   font-family: "MUSEOSANSCYRL_2";
   font-weight: 500;
   letter-spacing: 0.8px;
}

@media (max-width: 780px) {
   .text__contact {
      font-size: calc(12px + 0 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .text__contact {
      font-size: calc(12px + 0 * (100vw / 1560));
   }
}

.image__icon {
   width: 30px;
   height: 30px;
   background: #fff;
   border-radius: 50%;
   text-align: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin: -5px 10px 0px 0px;
}

.phone__image {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.phone__number {
   font-family: "MUSEOSANSCYRL_2";
   font-weight: 500;
   letter-spacing: 0.8px;
   margin: 0px 0px 16px 0px;
}

@media (max-width: 780px) {
   .phone__number {
      font-size: calc(20px + 6.8 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .phone__number {
      font-size: calc(20px + 4 * (100vw / 1560));
   }
}

.phone__timeTiable {
   font-family: "MUSEOSANSCYRL_3";
   font-weight: 700;
   letter-spacing: 0.8px;
}

@media (max-width: 780px) {
   .phone__timeTiable {
      font-size: calc(16px + 0 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .phone__timeTiable {
      font-size: calc(16px + 0 * (100vw / 1560));
   }
}

.phone__timeTiable span {
   font-family: "MUSEOSANSCYRL_1";
   font-weight: 300;
   letter-spacing: 0.8px;
}

@media (max-width: 780px) {
   .phone__timeTiable span {
      font-size: calc(16px + 0 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .phone__timeTiable span {
      font-size: calc(16px + 0 * (100vw / 1560));
   }
}

.popup__close {
   position: absolute;
   right: 30px;
   top: 30px;
   color: #8a97a1;
   opacity: 0.5;
}

@media (max-width: 780px) {
   .popup__close {
      font-size: calc(20px + 6.8 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .popup__close {
      font-size: calc(20px + 4 * (100vw / 1560));
   }
}

.popup__body {
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   overflow-x: hidden;
   -webkit-transition: all 0.8s ease 0s;
   transition: all 0.8s ease 0s;
   z-index: 2;
}

.popup__content {
   min-height: 100vh;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   padding: 30px 10px;
}

.popup__row {
   position: relative;
   background: #fcf2ee;
   max-width: 670px;
   padding: 50px 60px 50px 70px;
   border-radius: 40px;
   -webkit-transform: perspective(600px) translate(0, -100%) rotateX(45deg);
   transform: perspective(600px) translate(0, -100%) rotateX(45deg);
   -webkit-transition: all 0.8s ease 0s;
   transition: all 0.8s ease 0s;
}

.popup__row.active {
   -webkit-transform: perspective(600px) translate(0, 0) rotateX(0deg);
   transform: perspective(600px) translate(0, 0) rotateX(0deg);
   opacity: 1;
}

.popup__title {
   color: #282828;
   font-family: "MUSEOSANSCYRL_1";
   font-weight: 300;
   margin: 0px 0px 23px 0px;
}

.popup__title span {
   font-family: "MUSEOSANSCYRL_3";
   font-weight: 700;
}

@media (max-width: 780px) {
   .popup__title {
      font-size: calc(36px + 0 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .popup__title {
      font-size: calc(36px + 0 * (100vw / 1560));
   }
}

.popup__text {
   color: #282828;
   font-family: "MUSEOSANSCYRL_1";
   font-weight: 300;
   letter-spacing: 0.4px;
   margin: 0px 0px 37px 0px;
}

@media (max-width: 780px) {
   .popup__text {
      font-size: calc(16px + 0 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .popup__text {
      font-size: calc(16px + 0 * (100vw / 1560));
   }
}

.popup__form {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

.popup__btn {
   position: relative;
}

.popup__btn input {
   width: 490px;
   border-radius: 38px;
   background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#ee858c),
      color-stop(98%, #fabcbc),
      to(#fabcbc)
   );
   background-image: linear-gradient(to top, #ee858c 0%, #fabcbc 98%, #fabcbc 100%);
   text-shadow: 0 1px 5px rgba(210, 110, 116, 0.49);
   color: #fff;
   font-family: "MUSEOSANSCYRL_1";
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 2.16px;
   padding: 29px 40px 27px 0px;
}

@media (max-width: 780px) {
   .popup__btn input {
      font-size: calc(18px + 0 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .popup__btn input {
      font-size: calc(18px + 0 * (100vw / 1560));
   }
}

.popup__btn img {
   display: block;
   max-width: 100%;
   position: absolute;
   top: 10px;
   left: 370px;
}

.popup__signUp {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 35px 0px 0px 0px;
   width: 230px;
   height: 60px;
   text-align: center;
   background: #fefcfb;
   border-radius: 40px;
   font-family: "MUSEOSANSCYRL_2";
   font-weight: 500;
   letter-spacing: 0.8px;
   color: #282828;
   -webkit-box-shadow: 0px 5px 5px #ebeaea;
   box-shadow: 0px 5px 5px #ebeaea;
}

@media (max-width: 780px) {
   .popup__signUp {
      font-size: calc(15px + 0 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .popup__signUp {
      font-size: calc(15px + 0 * (100vw / 1560));
   }
}

.popup__signUp img {
   display: block;
   margin: 0px 10px 0px 0px;
}

.form__inp {
   max-width: 500px;
   padding: 30px 0px 30px 45px;
   margin: 0px 0px 16px 0px;
   border-radius: 40px;
   color: #989797;
   font-family: "MUSEOSANSCYRL_1";
   font-weight: 300;
   line-height: 24px;
   letter-spacing: 0.45px;
   position: relative;
   z-index: 2;
}

@media (max-width: 780px) {
   .form__inp {
      font-size: calc(18px + 0 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .form__inp {
      font-size: calc(18px + 0 * (100vw / 1560));
   }
}

.form__image {
   position: relative;
}

.form__img {
   z-index: 1;
   position: absolute;
   top: -300px;
   left: -210px;
}

.oder__body {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   overflow-y: auto;
   overflow-x: hidden;
   z-index: 20;
   visibility: hidden;
   opacity: 0;
   -webkit-transition: all 1.2s ease 0s;
   transition: all 1.2s ease 0s;
}

.oder__content {
   min-height: 100vh;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   padding: 30px 10px;
}

.oder__row {
   position: relative;
   background: #fcf2ee;
   max-width: 524px;
   padding: 50px 60px 50px 70px;
   border-radius: 40px;
   padding: 80px;
   -webkit-transform: translate(0, -100%);
   transform: translate(0, -100%);
   opacity: 0;
   -webkit-transition: all 1.2s ease 0s;
   transition: all 1.2s ease 0s;
}

.oder__row.active {
   -webkit-transform: translate(0, 0);
   transform: translate(0, 0);
   opacity: 1;
}

.oder__close {
   position: absolute;
   right: 30px;
   top: 30px;
   color: #8a97a1;
   opacity: 0.5;
   cursor: pointer;
}

@media (max-width: 780px) {
   .oder__close {
      font-size: calc(20px + 6.8 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .oder__close {
      font-size: calc(20px + 4 * (100vw / 1560));
   }
}

.oder__icon {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.oder__text {
   text-align: center;
   color: #282828;
   letter-spacing: 0.75px;
}

@media (max-width: 780px) {
   .oder__text {
      font-size: calc(26px + 6.8 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .oder__text {
      font-size: calc(26px + 4 * (100vw / 1560));
   }
}

.oder__text p {
   font-family: "MUSEOSANSCYRL_3";
   font-weight: 700;
   margin: 0px 0px 10px 0px;
}

.oder__text span {
   font-family: "MUSEOSANSCYRL_1";
   font-weight: 300;
}

.image {
   position: relative;
}

.image__first {
   position: absolute;
   top: 240px;
   left: 360px;
   z-index: 2;
}

.image__second {
   position: absolute;
   top: 300px;
   left: 355px;
}

.full-screen {
   position: absolute;
   width: 100%;
   height: 180vh;
   top: 0;
   left: 0;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

.main-screen {
   -webkit-box-flex: 1;
   -ms-flex: 1 0 100%;
   flex: 1 0 100%;
   position: relative;
}

.main-screen__bg {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.ibg {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}

.ibg img {
   width: 0;
   height: 0;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
}

.content {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
}

#map {
   width: 250px;
   height: 250px;
   display: none;
   border-radius: 30px;
   position: absolute;
   top: 100px;
   margin: 0px 0px 0px -30px;
   z-index: 1;
}

.service__row {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.service__body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   padding: 115px 0px 70px 115px;
   position: relative;
}

.service__paralacs {
   position: absolute;
   left: 20px;
   top: 50px;
   z-index: 0;
}

.service__paralacsLeft {
   position: absolute;
   right: -900px;
   top: -150px;
   z-index: 0;
}

.service__title {
   position: relative;
   z-index: 1;
   padding: 0px 0px 60px 0px;
}

.service__title span {
   font-family: "MUSEOSANSCYRL_1";
   font-weight: 300;
   letter-spacing: 0.8px;
}

@media (max-width: 780px) {
   .service__title span {
      font-size: calc(30px + 30.6 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .service__title span {
      font-size: calc(30px + 18 * (100vw / 1560));
   }
}

.service__title p {
   font-family: "MUSEOSANSCYRL_3";
   font-weight: 700;
   letter-spacing: 1.8px;
}

@media (max-width: 780px) {
   .service__title p {
      font-size: calc(30px + 30.6 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .service__title p {
      font-size: calc(30px + 18 * (100vw / 1560));
   }
}

.service__list {
   position: relative;
   z-index: 1;
   padding: 0px 0px 60px 0px;
   font-family: "MUSEOSANSCYRL_1";
   font-weight: 300;
   letter-spacing: 1.2px;
}

@media (max-width: 780px) {
   .service__list {
      font-size: calc(16px + 3.4 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .service__list {
      font-size: calc(16px + 2 * (100vw / 1560));
   }
}

.service__list li {
   background: url(../img/elips.png) left no-repeat;
   padding: 0px 0px 0px 40px;
   margin: 0px 0px 25px 0px;
}

.service__list li:last-child {
   margin: 0;
}

.service__link {
   padding: 0px 0px 0px 20px;
   line-height: 20px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   width: 340px;
   height: 85px;
   background: #f6a8aa;
   color: #fff;
   border-radius: 50px;
   text-align: center;
   text-transform: uppercase;
   font-family: "MUSEOSANSCYRL_3";
   font-weight: 700;
   letter-spacing: 1.2px;
}

@media (max-width: 780px) {
   .service__link {
      font-size: calc(14px + 0 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .service__link {
      font-size: calc(14px + 0 * (100vw / 1560));
   }
}

.service__link img {
   display: block;
   margin: 0px -60px 0px 0px;
}

.GirlImg {
   position: relative;
}

.GirlImg__image {
   margin: 80px 0px 0px 0px;
   position: absolute;
   left: 800px;
}

.GirlImg__image img {
   max-width: 100%;
   -o-object-fit: cover;
   object-fit: cover;
}

.cardClient__image {
   position: relative;
}

.cardClient__imageCard {
   position: absolute;
   left: -200px;
   top: 450px;
}

.cardClient__imageCard span {
   position: absolute;
   left: 100px;
}

.cardClient__hintImg {
   position: relative;
}

.cardClient__Link {
   position: absolute;
   left: -60px;
   top: 590px;
}

.cardClient__Link img {
   position: relative;
   z-index: 3;
   cursor: pointer;
}

.cardClient__content {
   min-height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   padding: 30px 10px;
   position: relative;
   display: none;
}

.cardClient__content.active {
   display: block;
}

.cardClient__colum {
   position: absolute;
   max-width: 176px;
   -webkit-box-shadow: 0 2px 18px rgba(187, 194, 206, 0.32);
   box-shadow: 0 2px 18px rgba(187, 194, 206, 0.32);
   background-color: #fffefd;
   border-radius: 40px;
   padding: 40px;
   top: -300px;
   left: 30px;
   z-index: 2;
}

.cardClient__text {
   text-align: center;
   position: relative;
   z-index: 5;
   color: #282828;
   font-family: "MUSEOSANSCYRL_1";
   font-weight: 300;
   letter-spacing: 1.68px;
}

@media (max-width: 780px) {
   .cardClient__text {
      font-size: calc(14px + 0 * ((100vw -320px) / 1560));
   }
}

@media (min-width: 780px) {
   .cardClient__text {
      font-size: calc(14px + 0 * (100vw / 1560));
   }
}

.cardClient__pulse {
   z-index: 2;
   position: relative;
   display: block;
   width: 30px;
   height: 30px;
   left: 20px;
   top: 48px;
   border-radius: 50%;
   background: #f6a8aa;
   -webkit-box-shadow: 0 0 0 #f6a8aa;
   box-shadow: 0 0 0 #f6a8aa;
   -webkit-animation: pulse 2s infinite;
   animation: pulse 2s infinite;
}

.cardClient__pulse :hover {
   -webkit-animation: none;
   animation: none;
}

@-webkit-keyframes pulse {
   0% {
      -webkit-box-shadow: 0 0 0 0 #f6a8aa;
   }
   70% {
      -webkit-box-shadow: 0 0 0 25px rgba(204, 169, 44, 0);
   }
   100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
   }
}

@keyframes pulse {
   0% {
      -webkit-box-shadow: 0 0 0 0 #f6a8aa;
      box-shadow: 0 0 0 0 #f6a8aa;
   }
   70% {
      -webkit-box-shadow: 0 0 0 25px rgba(204, 169, 44, 0);
      box-shadow: 0 0 0 25px rgba(204, 169, 44, 0);
   }
   100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
   }
}

.icon {
   margin: 0px auto;
   position: relative;
}

.icon__body {
   width: 30px;
   height: 30px;
   border: 2px solid #ff6078;
   border-radius: 50%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   position: absolute;
   top: -180px;
   left: -15px;
   cursor: pointer;
}

.icon__line {
   border-left: 2px solid #ff6078;
   height: 30px;
   position: absolute;
   left: 50%;
   margin-left: -1px;
   top: 27px;
}

.icon__circl {
   width: 10px;
   height: 10px;
   border: 2px solid #ff6078;
   border-radius: 50%;
   position: absolute;
   top: 57px;
}

@media (max-width: 1350px) {
   .header {
      top: 30px;
   }
   .header__list {
      padding: 0px 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 300px;
      line-height: 30px;
      margin: 0px 0px 0px 0px;
      text-align: center;
   }
   .header__logo {
      padding: 0px 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
   .header__location {
      padding: 0px 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0px 10px 0px 10px;
      position: relative;
   }
   .header__contacts {
      padding: 0px 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0px 10px 0px 0px;
   }
   .header__popup {
      padding: 0px 10px;
   }
   .popup__signUp {
      width: 150px;
      line-height: 19px;
   }
   .popup__signUp img {
      display: block;
      margin: 0px 0px 0px 20px;
   }
   .location__text {
      margin: 10px 0px 0px 25px;
   }
   .image__Location {
      position: absolute;
      top: 35px;
      margin: 0px 0px 0px 25px;
   }
   .logo__text {
      margin: 35px 0px 0px 0px;
   }
   .phone__image {
      margin: 20px 0px 0px 0px;
   }
   .phone__number {
      margin: 0px 0px 10px 0px;
   }
   .service__GirlImg {
      display: none;
   }
   .service__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
   }
   .cardClient__body {
      margin: 0px 100px 0px 0px;
   }
   .full-screen {
      height: 300vh;
   }
   .icon__body {
      top: -250px;
      left: -15px;
      cursor: pointer;
   }
}

@media (max-width: 1050px) {
   .header__body {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr) [2];
      grid-template-columns: repeat(2, 1fr);
      -ms-grid-rows: (1fr) [2];
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
   }
   .header__logo {
      padding: 10px 15px;
      margin: 0;
   }
   .header__location {
      padding: 10px 15px;
      margin: 0;
   }
   .header__contacts {
      padding: 10px 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0;
   }
   .header__popup {
      padding: 10px 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0;
   }
   .popup__row {
      max-width: 400px;
      padding: 20px;
      text-align: center;
   }
   .popup__btn input {
      width: 340px;
   }
   .popup__btn img {
      display: block;
      max-width: 100%;
      position: absolute;
      top: 10px;
      left: 250px;
   }
   .service__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }
   .cardClient__body {
      margin: 0px 0px 0px 0px;
      position: relative;
      left: 500px;
      top: -450px;
   }
   .full-screen {
      height: 380vh;
   }
   .icon__body {
      top: -330px;
      left: -15px;
      cursor: pointer;
   }
}

@media (max-width: 768px) {
   .header {
      top: 50px;
   }
   .header__toggle {
      display: block;
      top: 20px;
      left: 20px;
      z-index: 50;
      position: fixed;
      width: 30px;
      height: 20px;
   }
   .header__toggle span {
      background: #000;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      -webkit-transition: all 0.3s ease 0.2s;
      transition: all 0.3s ease 0.2s;
   }
   .header__toggle:before,
   .header__toggle:after {
      content: "";
      background: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      -webkit-transition: all 0.3s ease 0.2s;
      transition: all 0.3s ease 0.2s;
   }
   .header__toggle:before {
      top: 0;
   }
   .header__toggle:after {
      bottom: 0;
   }
   .header__menu {
      position: fixed;
      top: 0;
      left: 0;
      overflow: auto;
      width: 100%;
      height: 100%;
      background: #ff6078;
      -webkit-transition: all 0.5s ease 0.2s;
      transition: all 0.5s ease 0.2s;
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
      z-index: 5;
   }
   .header__menu.active {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
   }
   .header__list {
      padding: 180px 10px 0px 10px;
      background: #ff6078;
      -webkit-box-shadow: none;
      box-shadow: none;
   }
   .header__list a {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2.2px;
      padding: 0px 0px 15px 0px;
   }
   .active span {
      -webkit-transform: scale(0);
      transform: scale(0);
   }
   .active::before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 9px;
   }
   .active::after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      bottom: 9px;
   }
   .popup__row {
      max-width: 400px;
      padding: 20px;
   }
   .popup__btn input {
      width: 340px;
      padding: 29px 0px 27px 0px;
   }
   .popup__btn img {
      display: none;
   }
   .form__img {
      display: none;
   }
   .cardClient__body {
      left: 350px;
      top: -450px;
   }
   .full-screen {
      height: 310vh;
   }
   .service__body {
      padding: 50px 0px 70px 50px;
   }
   .icon__body {
      top: -270px;
      left: -15px;
      cursor: pointer;
   }
}

@media (max-width: 768px) {
   body.lock {
      overflow: hidden;
   }
}

@media (max-width: 590px) {
   .header__body {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr) [1];
      grid-template-columns: repeat(1, 1fr);
      -ms-grid-rows: (1fr) [1];
      grid-template-rows: repeat(1, 1fr);
   }
   .header .image__Location {
      top: 40px;
   }
   .popup__row {
      max-width: 300px;
      padding: 20px;
      text-align: center;
   }
   .popup__btn input {
      width: 260px;
   }
   .form__inp {
      padding: 30px 0px 30px 20px;
   }
   .full-screen {
      height: 400vh;
   }
   .cardClient__body {
      left: 300px;
      top: -400px;
   }
   .cardClient__colum {
      padding: 30px;
      top: -260px;
      left: 30px;
      z-index: 2;
   }
   .service__link {
      width: 280px;
      padding: 0px 0px 0px 30px;
      margin: 0px 0px 20px 0px;
      line-height: 15px;
   }
   .service__link img {
      margin: 0px -40px 0px 0px;
   }
   .service__body {
      padding: 50px 10px 0px 40px;
   }
   .icon__body {
      top: -350px;
   }
}

@media (max-width: 450px) {
   .cardClient__body {
      left: 240px;
      top: -400px;
   }
   .cardClient__colum {
      padding: 15px;
      top: -255px;
      left: 0px;
      z-index: 2;
   }
   .full-screen {
      height: 420vh;
   }
   .service__link {
      width: 250px;
      text-align: center;
      padding: 0px 10px 0px 10px;
      margin: 0px 0px 20px 0px;
   }
   .service__link img {
      display: none;
   }
   .service__body {
      padding: 50px 0px 0px 40px;
   }
   .service__title {
      padding: 0px 0px 40px 0px;
      word-wrap: break-word;
   }
}

@media (max-width: 450px) and (max-width: 780px) {
   .service__title span {
      font-size: calc(20px + 47.6 * ((100vw -320px) / 1560));
   }
}

@media (max-width: 450px) and (min-width: 780px) {
   .service__title span {
      font-size: calc(20px + 28 * (100vw / 1560));
   }
}

@media (max-width: 450px) and (max-width: 780px) {
   .service__title p {
      font-size: calc(20px + 47.6 * ((100vw -320px) / 1560));
   }
}

@media (max-width: 450px) and (min-width: 780px) {
   .service__title p {
      font-size: calc(20px + 28 * (100vw / 1560));
   }
}

@media (max-width: 450px) {
   .icon__body {
      top: -350px;
   }
}

@media (min-width: 1600px) {
   .GirlImg__image {
      left: 1000px;
   }
}

@media (min-width: 1800px) {
   .GirlImg__image {
      left: 1200px;
   }
}
