@font-face {
   font-family: "Appetite_New";
   src: url("../fonts/Appetite_New.otf");
   src: local("☺"), url("../fonts/Appetite_New.woff") format("woff"),
      url("../fonts/Appetite_New.ttf") format("truetype"), url("../fonts/Appetite_New.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "MUSEOSANSCYRL";
   src: url("../fonts/MUSEOSANSCYRL.OTF");
   src: local("☺"), url("../fonts/MUSEOSANSCYRL.woff") format("woff"),
      url("../fonts/MUSEOSANSCYRL.ttf") format("truetype"), url("../fonts/MUSEOSANSCYRL.svg") format("svg");
   font-weight: 900;
   font-style: normal;
}
@font-face {
   font-family: "MUSEOSANSCYRL_0";
   src: url("../fonts/MUSEOSANSCYRL_0.OTF");
   src: local("☺"), url("../fonts/MUSEOSANSCYRL_0.woff") format("woff"),
      url("../fonts/MUSEOSANSCYRL_0.ttf") format("truetype"), url("../fonts/MUSEOSANSCYRL_0.svg") format("svg");
   font-weight: 100;
   font-style: normal;
}
@font-face {
   font-family: "MUSEOSANSCYRL_1";
   src: url("../fonts/MUSEOSANSCYRL_1.OTF");
   src: local("☺"), url("../fonts/MUSEOSANSCYRL_1.woff") format("woff"),
      url("../fonts/MUSEOSANSCYRL_1.ttf") format("truetype"), url("../fonts/MUSEOSANSCYRL_1.svg") format("svg");
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: "MUSEOSANSCYRL_2";
   src: url("../fonts/MUSEOSANSCYRL_2.OTF");
   src: local("☺"), url("../fonts/MUSEOSANSCYRL_2.woff") format("woff"),
      url("../fonts/MUSEOSANSCYRL_2.ttf") format("truetype"), url("../fonts/MUSEOSANSCYRL_2.svg") format("svg");
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: "MUSEOSANSCYRL_3";
   src: url("../fonts/MUSEOSANSCYRL_3.OTF");
   src: local("☺"), url("../fonts/MUSEOSANSCYRL_3.woff") format("woff"),
      url("../fonts/MUSEOSANSCYRL_3.ttf") format("truetype"), url("../fonts/MUSEOSANSCYRL_3.svg") format("svg");
   font-weight: 700;
   font-style: normal;
}
