//! Fonts
$fontAppetite: "Appetite_New";
$fontMUSEOSANSCYRL: "MUSEOSANSCYRL";
$fontMUSEOSANSCYRL_0: "MUSEOSANSCYRL_0";
$fontMUSEOSANSCYRL_1: "MUSEOSANSCYRL_1";
$fontMUSEOSANSCYRL_2: "MUSEOSANSCYRL_2";
$fontMUSEOSANSCYRL_3: "MUSEOSANSCYRL_3";
// !======================================
$TextColorBlack: #282828;
$BurgerBG: #000;
$TextColor: #ff6078;
$LinkColor: #fefcfb;
$PulsColor: #f6a8aa;
$ClosePopup: #8a97a1;
$FormInput: #989797;
$BorderInp: rgb(47, 187, 47);
